//Line-clamp 
@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

// Использование миксина 
.class {
    font-size: 14px;
    @include line-clamp(3);
}

//////////////////////////////////////////////////////////////

//Адаптив
$breakpoints: ("phone": 1000px,
    "tablet": 1320px);

@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

//////////////////////////////////////////////////////////////

//Затемнение
@mixin blackout {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $black;
    transition: opacity 0.3s;
}

//////////////////////////////////////////////////////////////

//Background
@mixin background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin under-line {
    position: relative;
    padding-bottom: 6px;

    &::before {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 1px;
        border: 1px dashed $red-400;
        content: "";
    }
}

@mixin slider-arrow {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 0;
    color: transparent;
    background-color: $red-400;
    border-radius: 50%;

    &::after {
        font-size: 0;
        @include background;
        width: 35px;
        height: 15px;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        content: "";
        position: absolute;
        fill: $white;
        background-image: url('../img/sprite/arrow.svg');
    }

    &--prev {
        margin-right: 40px;

        &::after {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}
