//Цвета 
$white: #ffffff;
$black: #000000;

$red-400: #dc405c;
$dark-700: #333333;
$gray-100: #f8f1f1;
$brown-700: #3e1316;

//Шрифт
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$montserrat: "Montserrat";