<article class="review-card">
    <div class="review-card__top">
        <img class="review-card__img" src="img/reviews.svg" alt="Яндекс отзывы" width="130" height="44" loading="lazy">
        <span class="review-card__stars" data-rateyo-rating="@rating">
            <span class="sr-only">Рейтинг @rating из 5</span>
        </span>
    </div>
    <div class="review-card__text">
        @text
    </div>
    <span class="review-card__name">
        @name
    </span>
    <time class="review-card__data" datetime="@datetime">
        @date
    </time>
</article>