.advice-card {
    height: 100%;
    padding: 44px 17px 40px;
    color: $brown-700;
    text-align: center;
    border-radius: 15px;
    transition: background-color 0.4s, color 0.4s;

    @include mq("tablet") {
        padding-right: 24px;
        padding-left: 24px;
    }

    &:hover {
        color: $white;
        background-color: $red-400;
    }

    &__img {
        width: 100%;
        max-width: 64px;
        height: 64px;
        margin-bottom: 25px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: $fw-700;
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: -0.05em;
    }
}