.header {
    padding: 40px 0 16px 0;
    color: $red-400;

    @include mq("tablet") {
        padding: 34px 0 0;
    }

    &__wrapper,
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        @include mq("tablet") {
            align-items: flex-start;
        }

        @include mq("phone") {
            flex-direction: column;
        }
    }

    &__logo {
        @include mq("phone") {
            margin-bottom: 30px;
        }
    }

    &__right {
        @include mq("phone") {
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__message {
        margin-right: 52px;

        @include mq("tablet") {
            flex-direction: column;
            margin-right: 67px;
            align-items: flex-start;
        }

        @include mq("phone") {
            font-size: 0;
            flex-direction: row;
            margin-right: 0;
            order: 1;
        }

        .message__item {
            &:not(:last-child) {
                @include mq("tablet") {
                    margin-right: 0;
                    margin-bottom: 20px;
                }

                @include mq("phone") {
                    margin-right: 24px;
                    margin-bottom: 0;
                }
            }
        }

        .message__link {
            @include mq("phone") {
                width: 24px;
                height: 24px;
                display: inline-block;
            }

            &::before {
                @include mq("phone") {
                    display: none;
                }
            }
        }
    }
}