.message {
    display: flex;
    align-items: center;
    color: $red-400;
    font-size: 16px;
    line-height: 1.1;

    &__item {
        padding: 2px 0;

        &:not(:last-child) {
            margin-right: 34px;
        }
    }

    &__link {
        @include under-line;
        padding-left: 36px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 24px;
        @include state;
    }
}

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 31px;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        content: "";
        @include background;
    }

    &--address {
        transition: opacity 0.4s;

        &:hover {
            opacity: 0.6;
        }
    }

    &--phone {
        &::before {
            background-image: url('../img/icons/phone.svg');
        }
    }

    &--address {
        &::before {
            background-image: url('../img/icons/address.svg');
        }

        .contact__link {
            margin-bottom: 0;
        }
    }

    &__accent {
        display: block;
        margin-bottom: 5px;
    }

    &__link {
        margin-bottom: 3px;
        font-size: 20px;
        line-height: 1.1;
    }

    &__subtext {
        @include under-line;
        align-self: flex-start;
        font-size: 14px;
    }
}