<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__wrapper">
                <a class="footer__logo logo" href="./index.html">
                    <img class="logo__img logo__img--footer" src="img/logos/logo-footer.svg" alt="Логотип" width="185" height="85">
                </a>
                <address class="footer__box">
                    <ul class="footer__message message">
                        <li class="message__item">
                            <a class="message__link" href="#" style="background-image: url('img/message/telegram.svg')">
                                Написать в Telegram
                            </a>
                        </li>
                        <li class="message__item">
                            <a class="message__link" href="#" style="background-image: url('img/message/whatsapp.svg')">
                                Написать в WhatsApp
                            </a>
                        </li>
                        <li class="message__item">
                            <a class="message__link" href="#" style="background-image: url('img/message/whatsapp.svg')">
                                Написать в VK
                            </a>
                        </li>
                    </ul>
                    <ul class="footer__items">
                        <li class="footer__contact contact contact--address">
                            <a class="contact__link" href="#">
                                <span class="contact__accent">
                                    Хабаровск, ул. Войкова, д.8
                                </span>
                                <span class="contact__subtext">
                                    Показать на карте
                                </span>
                            </a>
                        </li>
                        <li class="footer__contact contact contact--phone">
                            <a class="contact__link" href="tel:+71111113333">
                                +7 (111) 111-33-33
                            </a>
                            <span class="contact__subtext">
                                9:00 — 18:00
                            </span>
                        </li>
                    </ul>
                </address>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="./politics.html">
                        Политика конфиденциальности
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="./guarantee.html">
                        Гарантии
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="./price.html">
                        Прайл-лист
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>