<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo logo" href="#">
                <img class="logo__img" src="img/logo.svg" alt="Логотип" width="330" height="32">
            </a>
            <div class="header__right">
                <ul class="header__message message">
                    <li class="message__item">
                        <a class="message__link" href="#" style="background-image: url('img/message/telegram.svg')">
                            Написать в Telegram
                        </a>
                    </li>
                    <li class="message__item">
                        <a class="message__link" href="#" style="background-image: url('img/message/whatsapp.svg')">
                            Написать в WhatsApp
                        </a>
                    </li>
                </ul>
                <div class="header__phone">
                    <a class="header__tel" href="tel:+71111113333">
                        +7 (111) 111-33-33
                    </a>
                    <span class="header__time">
                        9:00 — 18:00
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>