<article class="service-card service-card--@icon">
    <div class="service-card__box">
        <h3 class="service-card__title">
            @title
        </h3>
        <ul class="service-card__items">
            <li class="service-card__item">
                @item-1
            </li>
            <li class="service-card__item">
                @item-2
            </li>
        </ul>
        <span class="service-card__price">
            от @price ₽
        </span>
    </div>
    <button class="service-card__button modal-open" type="button">
        <span class="sr-only">
            Записаться
        </span>
    </button>
</article>