.advertising {

    &__container {
        @include mq("phone") {
            padding: 0;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 10;
        padding: 60px;
        background-color: $red-400;
        border-radius: 30px;

        &::before,
        &::after {
            position: absolute;
            z-index: -12;
            background-color: rgba($white, 0.1);
            border-radius: 100%;
            content: "";
        }

        &::before {
            top: -65%;
            right: 220px;
            width: 444px;
            height: 444px;

            @include mq("tablet") {
                top: -71%;
                right: -15%;
            }

            @include mq("phone") {
                top: 52%;
                right: 50%;
                width: 295px;
                height: 295px;
                transform: translateX(50%);
            }
        }

        &::after {
            right: -70px;
            bottom: -48%;
            width: 395px;
            height: 395px;

            @include mq("tablet") {
                display: none;
            }
        }

        @include mq("phone") {
            padding: 60px 19px 350px;
        }
    }

    &__content {
        width: 100%;
        max-width: 540px;

        @include mq("phone") {
            max-width: 100%;
        }
    }

    &__title {
        margin-bottom: 15px;
        color: $white;

        @include mq("phone") {
            margin-bottom: 20px;
            font-size: 28px;
        }
    }

    &__text {
        margin-bottom: 40px;
        color: $white;

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        @include mq("phone") {
            margin-bottom: 30px;
        }
    }

    &__button {
        max-width: fit-content;
        padding: 15px 28px;
        transition: color 0.4s, background-color 0.4s, border-color 0.4s, box-shadow 0.4s;

        &:focus {
            box-shadow: 0 0 0 2px $brown-700;
        }

        &:hover {
            color: $white;
            background-color: $red-400;
            border-color: $white;
        }

        @include mq("phone") {
            width: 100%;
            max-width: 100%;
        }
    }

    &__img {
        position: absolute;
        right: 170px;
        bottom: 0;
        z-index: -10;
        width: 100%;
        max-width: 528px;
        height: 442px;
        @include background;

        @include mq("tablet") {
            right: 0;
        }

        @include mq("phone") {
            height: 299px;
            border-radius: 30px;
        }
    }
}