.enroll {
    position: relative;
    padding: 80px 0;
    background-color: $red-400;

    @include mq("phone") {
        padding: 60px 0;
    }

    &__title {
        margin-bottom: 30px;
        color: $white;

        @include mq("tablet") {
            margin-bottom: 30px;
        }

        @include mq("phone") {
            margin-bottom: 20px;
            font-size: 28px;
            text-align: center;
        }
    }

    &__form {
        .form__items {
            display: flex;
            margin-bottom: 25px;

            @include mq("phone") {
                flex-direction: column;
            }
        }

        .form__item {
            max-width: 300px;
            margin-right: 10px;

            @include mq("phone") {
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }

        .form__text {
            color: rgba($white, 0.3);

            @include mq("phone") {
                text-align: center;
            }
        }
    }

    &__button {
        width: 100%;
        max-width: 300px;
        transition: color 0.4s, background-color 0.4s, border-color 0.4s;

        &:hover {
            color: $white;
            background-color: transparent;
            border-color: $white;
        }

        @include mq("phone") {
            max-width: 100%;
            padding: 25px 15px;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        right: -5px;
        width: 28%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;


        @include mq("tablet") {
            display: none;
        }
    }
}