.guarantee {
    line-height: 1.1;

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-right: -40px;
        margin-bottom: -50px;

        @include mq("phone") {
            flex-direction: column;
            align-items: center;
            margin-right: 0;
            margin-bottom: -30px;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 226px;
        margin-right: 40px;
        margin-bottom: 50px;

        @include mq("phone") {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &--link {
            .guarantee__subtitle {
                margin-bottom: 20px;

                @include mq("phone") {
                    margin-bottom: 10px;
                }
            }
        }
    }

    &__img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
        object-fit: contain;
    }

    &__subtitle {
        color: $brown-700;
        font-weight: $fw-600;
        font-size: 24px;
        text-align: center;
    }

    &__link {
        @include under-line;
        color: $red-400;
        font-size: 16px;
        transition: opacity 0.6s;

        &:hover {
            opacity: 0.6;
        }
    }
}