.main {
    position: relative;
    padding: 80px 0 15px;

    &::before,
    &::after {
        position: absolute;
        width: 100%;
        content: "";
        @include background;
    }

    &::before {
        bottom: -30%;
        left: -5%;
        max-width: 322px;
        height: 416px;
        background-image: url('../img/main/decor-left.png');
        opacity: 0.15;

        @include mq("tablet") {
            display: none;
        }
    }

    &::after {
        top: -10px;
        right: -15%;
        max-width: 605px;
        height: 466px;
        background-image: url('../img/main/decor-right.png');
        opacity: 0.05;

        @include mq("phone") {
            display: none;
        }
    }

    @include mq("tablet") {
        padding: 160px 0 101px;
    }

    @include mq("phone") {
        padding: 60px 0 46px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mq("tablet") {
            flex-direction: column;
            align-items: center;
        }
    }

    &__content {
        width: 100%;
        max-width: 570px;

        @include mq("tablet") {
            margin-bottom: 120px;
        }

        @include mq("phone") {
            margin-bottom: 24px;
        }
    }

    &__title {
        margin-bottom: 22px;
        color: $brown-700;
        font-weight: $fw-700;
        font-size: 80px;
        line-height: 1.1;

        @include mq("phone") {
            margin-bottom: 15px;
            font-size: 40px;
        }
    }

    &__price {
        padding: 7px 23px;
        color: $white;
        background-color: $red-400;
        border-radius: 100px;
    }

    &__text {
        position: relative;
        margin-bottom: 48px;
        padding-left: 74px;

        &::before {
            position: absolute;
            top: 15px;
            left: 0;
            width: 59px;
            height: 1px;
            background-color: $brown-700;
            content: "";
        }

        @include mq("phone") {
            margin-bottom: 30px;
        }
    }

    &__buttons {
        display: flex;

        @include mq("phone") {
            flex-direction: column;
        }
    }

    &__item {
        width: 100%;
        max-width: 250px;

        &:not(:last-child) {
            margin-right: 20px;

            @include mq("phone") {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        @include mq("phone") {
            max-width: 100%;
        }
    }

    &__button {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        &--border {
            color: $red-400;
            background-color: transparent;
            border: 1px solid $red-400;
        }
    }

    &__video {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 674px;
        height: 592px;
        background-size: cover;
        transform: rotate(5.44deg);
        @include background;

        @include mq("phone") {
            max-width: 350px;
            height: 310px;
        }
    }

    &__play {
        position: relative;
        z-index: 100;
        width: 80px;
        height: 80px;
        background-color: $white;
        background-image: url('../img/sprite/play.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        border-radius: 100%;
        box-shadow: 0 0 0 0 rgba($white, 0.3);
        transform: rotate(-5.44deg);
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

        &:hover {
            animation: none;
        }
    }

    @keyframes pulse {
        to {
            box-shadow: 0 0 0 45px rgba($white, 0);
        }
    }
}