.studio {
    padding-bottom: 190px;

    @include mq("tablet") {
        padding-bottom: 126px;
    }

    @include mq("phone") {
        padding-bottom: 60px;
    }
}

.works {
    &__box {
        position: relative;

        @include mq("phone") {
            padding-bottom: 90px;
        }
    }

    &__swiper {
        padding-right: 62px;
    }

    &__img {
        width: 100%;
        max-width: 320px;
        height: 370px;
        object-fit: cover;
        border-radius: 15px;

        @include mq("tablet") {
            height: 340px;
        }
    }

    &__buttons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;

        @include mq("phone") {
            top: unset;
            right: 50%;
            bottom: 0;
            transform: translateX(50%);
        }
    }

    &__button {
        @include slider-arrow;
    }

    .swiper-button-disabled {
        @include slider-disabled
    }

}